!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
**/xcshareddata/WorkspaceSettings.xcsettings
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcodeproj/*
*.xcscmblueprint
._*
.accio/
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.swiftpm/xcode/
.TemporaryItems
.Trashes
.VolumeIcon.icns
/*.gcno
build/
Carthage/Build
Dependencies/
DerivedData/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
Icon
iOSInjectionProject/
Network Trash Folder
playground.xcworkspace
Temporary Items
timeline.xctimeline
xcuserdata/
